.topheader {
  position: fixed;
  background-color: rgb(112, 245, 205);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Menu-Horizontal li a {
  display: Block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
}

.Menu-Vertical {
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  width: 150px;
}

.Menu-Horizontal li a:hover {
  color: rgb(255, 0, 106);
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: Block;
}

/*Seccion Nosotros */
.Seccion-productos {
  padding: 60px 20px;
  background-color: rgb(252, 252, 252);
}
.Seccion-productos h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 2rem;
  color: black;
}
.div-gral-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.div-prod-texto {
  flex: 1;
}
.div-prod-texto h2 {
  color: rgb(0, 0, 0);
}
.div-prod-texto p {
  color: black;
  line-height: 1.5;
  font-size: 20px;
  text-align: justify;
}
.div-prod-img {
  flex: 1;
}
.div-prod-img imagenes {
  width: 100%;
  max-width: 500px;
}

/*Seccion Nuestros autos */
.Seccion-zondig {
  padding: 60px 20px;
  background-color: rgb(245, 243, 112);
}
.div-gral-zondig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.div-zondig-texto {
  flex: 1;
}
.div-zondig-texto h2 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
}
.div-zondig-texto p {
  color: black;
  line-height: 1;
  font-size: 20px;
  text-align: justify;
}
.div-zondig-video {
  flex: 1;
}

/*Seccion Formulario */
.seccion-formulario {
  background-color: rgb(112, 245, 205);
  padding: 40px;
  border: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.div-cont-formulario {
  background-color: rgb(112, 245, 205);
  padding: 30px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}
.campo {
  background-color: rgb(188, 235, 135);
  padding: 15px;
  border: 1px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
}
.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  box-sizing: border-box;
}
.lista-checkbox;
.lista-radio {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: darksalmon;
  border: 1px solid #000;
  border-radius: 8px;
}
.formulario button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1.5px solid #000000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1px;
}
